{margin: 0;
 padding: 0;
}

.header
{
	background-image(immagini/sfondo.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.formbox
{
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	
}

#wrapper, #carousel, #carousel > div {
	width: 980px;
	height: 350px;
}

#wrapper {
	margin: 0px 0 0 -480px;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
}
#bg {
	background: #dfdfdf url(img/bianco.png) repeat-x top;
	width: 960px;
	height: 270px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	border-radius: 0px;
	box-shadow:inset 0 0 0px #666;
}
#carousel {
	position: relative;
	z-index: 2;
}
#carousel div {
	position: relative;
	float: left;
}
#carousel div > * {
	position: absolute;
}
#carousel img.img-front, 
#carousel img.img-back{
	box-shadow: 0 1px 10px #222; 
	-moz-box-shadow: 0 1px 10px #222; 
	-webkit-box-shadow: 0 1px 10px #222;
	border-radius:5px;
	}
#carousel img.img-front {
	left: 70px;
	top: 30px;
	z-index: 4;
}
#carousel img.img-back {
	left: 300px;
	top: 60px;
	z-index: 3;
}
#carousel h3 {
	font-size: 32px;
	line-height:30px;
	font-weight: bold;
	color: #000;
	text-transform:uppercase;
	width: 300px;
	left: 615px;
	top: 60px;
	margin: 0;
}
#carousel p {
	color: #666;
	font-size: 16px;
	width: 275px;
	left: 615px;
	top: 130px;
	margin: 0;
}
#carousel a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	outline: none;
	display: block;
	background-color: #641C34;
	border: 1px solid #666;
	width: 175px;
	height: 40px;
	left: 615px;
	top: 300px;
	border-radius: 5px;	
}
#carousel a:hover {
	background-color: #777;
}
#prev, #next {
	position: absolute;
	top: 100px;
	z-index: 10;	
}
#prev span, #next span {
	width: 41px;
	height: 80px;
	display: block;
	position: absolute;
	top: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#prev {
	left: -18px;
}
#prev span {
	background: #641C34 url(img/left.png);
	left: 30px;
}
#prev:hover span {
	left: 26px;
}
#next {
	right: -18px;
}
#next span {
	background: #641C34 url(img/right.png);
	right: 30px;
}
#next:hover span {
	right: 26px;
}
