*{
    margin: 0;
    padding: 0;
}

.media {
    background-color:#641c34 ;
    margin-left: 100px;
    margin-right: 100px;
}

.immag{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 30px;
}

.impseudodrago{
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 120px;
}



/* Bottoni NavBar */
nav ul {
  
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

nav ul li a:hover {
  color: #262626;

}



nav ul a {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;

}

nav ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition: transform .5s;
}

nav ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}