.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-color: #641C34;
    background-size: cover;
    background-repeat: no-repeat
}

body {
   
    min-height: 100vh
}
.responsive {
    border-collapse:collapse;
    border-spacing:0;
    }
    
    @media screen and (min-width:800px){
    .responsive {width: 50%;}
    
    .responsive thead th {
    height:50px;
    line-height:50px;
    border:1px solid #641C34;
    background: #641C34;
    color:#fff;
    }
    
    .responsive tbody td {
    height:40px;
    line-height:40px;
    }
    }
    
    @media screen and (max-width:799px) {
    .responsive, thead, tbody, th, tr, td {display: block;}
    
    .responsive {width:90%;}
    }
    .responsive tr:nth-of-type(odd) { 
        background: #f0d8df; 
        }


/* Bottoni NavBar */
nav ul {
  
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    position: relative;
    display: block;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
  }
  
  nav ul li a:hover {
    color: #262626;
  
  }
  
  
  
  nav ul a {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
  
  }
  
  nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s;
  }
  
  nav ul li a:hover:before {
    transform-origin: left;
    transform: scaleX(1);
  }